<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>postal_code:</strong>
  <%= @user.postal_code %>
</p>


<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
 <!-- <%= link_to 'Back', users_path %> | --> 
<%= link_to 'New post', new_post_path(:id=>@user.id) %>

<br/>
<br/>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Msg</th>
      <th>Date</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @user.posts.each.with_index()  do |post,index| %>
      <tr>
        <td><%= index %></td>
        <td><%= post.msg %></td>
        <td><%= post.date %></td>
        <td><%= link_to 'Edit', edit_post_path(post)%></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>